body{
    background-color: #aaa;
    display: grid;
    grid-template-columns: 8% 1fr 1fr 1fr 8%;
    grid-template-rows: auto 70px 1fr 1fr 1fr 1fr 100px;
    grid-template-areas: 
    "head head head head head"
    ". . . . ."
    ". s1 s1 s1 ."
    ". s1 s1 s1 ."
    ". s1 s1 s1 ."
    ". s1 s1 s1 ."
    "foot foot foot foot foot";
    grid-gap:30px;
}


#header{
    grid-area: head;
}

#s1{
    grid-area: s1;
    padding: 20px;
}

#s2{
    grid-area: s2;
}

#s3{
    grid-area: s3;
}

#s4{
    grid-area: s4;
}

#footer{
    grid-area: foot;
}


.information > a{
    display: block;
    text-decoration: none;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    
}

.sections{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
    flex-wrap: wrap;
}
.sections > h2{
    height: 90px;
    width:100%;
}

.sections > h6{
    padding:10px;
    margin-bottom: 50px;
    margin-top: 15px;
}

.sections > h4{
    width: 100%;
    text-align: center;
    margin-top: 40px;
}
.sections > p {
    width: 80%;
    text-align: center;
    margin:10px 10%
}

.information{
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px;
    
}
.information > a:hover{
    
    font-size: 1.2em;
}

.chatgpt{
    width: 100%;
}





h1, h2, h3, h4, h5{
    border-bottom: none;

}

@media screen and (max-width: 1500px) {
    .information{
        width: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 50% 50%;
        grid-template-rows: 75px 75px 75px 75px 75px 75px 75px 75px 75px 75px 75px 75px;
        
    }

    .sections{
        font-size: 1.5vw;
    }

    .sections > h2{
        height: 50px;
    }
}


@media (max-width: 1100px) {
    body{
        grid-template-columns: 1% 1fr 1fr 1fr 1%;
    }
}


@media screen and (max-width: 900px) {
    .information{
        width: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 100%;
        grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
        grid-row-gap: 10px;
    }

    .sections{
        font-size: 2.5vw;
    }

    .sections > h2{
        font-size: 10vw;
        margin-bottom: 80px;
    }
}