body{
    background-color: #aaa;
    display: grid;
    grid-template-columns: 8% 1fr 1fr 1fr 8%;
    grid-template-rows: auto 70px auto auto auto auto auto 100px;
    grid-template-areas: 
    "head head head head head"
    ". . . . ."
    ". s1 s1 s1 ."
    ". s2 s2 s2 ."
    ". s3 s3 s3 ."
    ". s4 s5 s5 ."
    ". s6 s6 s6 ."
    "foot foot foot foot foot";
    grid-gap:30px;
}


#header{
    grid-area: head;
}

#s1{
    grid-area: s1;
}

#s2{
    grid-area: s2;
}

#s3{
    grid-area: s3;
}

#s4{
    grid-area: s4;
}

#s5{
    grid-area: s5;
}

#s6{
    grid-area: s6;
}

#footer{
    grid-area: foot;
}






@media (max-width: 1100px) {
    body{
        grid-template-columns: 1% 1fr 1fr 1fr 1%;
    }
}

@media (max-width: 650px) {
    body > section > .otherPicture > img{
    
        transform: translateX(30px) rotate(-60deg);
        
    }

    body > section > .otherPicture{
        height: 250px;
    }

    p{
        width: 95% !important;
    }



}


@media (max-width: 1000px) {
    body{
        background-color: #aaa;
        display: grid;
        grid-template-columns: 8% 1fr 1fr 1fr 8%;
        grid-template-rows: auto 70px auto auto auto auto auto 100px;
        grid-template-areas: 
        "head head head head head"
        ". . . . ."
        ". s1 s1 s1 ."
        ". s2 s2 s2 ."
        ". s3 s3 s3 ."
        ". s4 s4 s4 ."
        ". s6 s6 s6 ."
        "foot foot foot foot foot";
        grid-gap:30px;
    }

    #s5{
        display: none;
    }


    .square > .img-wrapper > img {
        
        height: 250px !important;
        
    
    }
}